MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URI=
OPENAI_API_KEY=
MONGODB_DB_NAME=
MONGODB_COLLECTION=
DOCUMENTS=[{"url": "", "category": "", "description": ""}] # Single line list of document objects with url, category, and description (JSON array format as a string)