MONGODB_USER= #Username for the MongoDB database
MONGODB_PASSWORD= #Password for the MongoDB user
MONGODB_URI= #MongoDB connection URI, including username and password placeholders
OPENAI_API_KEY= #API key for OpenAI services, used for both embedding generation and LLM interactions
MONGODB_DB_NAME= #Name of the MongoDB database to store the ingested documents and their embeddings
MONGODB_COLLECTION= #Name of the MongoDB collection to store the ingested documents and their embeddings
OPENAI_MODEL= #Name of the openai model to be used for generation
OPENAI_EMBEDDING_MODEL= #Name of the openai embedding model to be used for embedding generation
DOCUMENTS=[{"url": "", "category": "", "description": ""}] # Single line list of document objects with url, category, and description (JSON array format as a string)
DOCUMENT_MIN_LENGTH=# Minimum length of the document text to be ingested, used for filtering out very short documents that may not be useful for retrieval